@import '../../styles/variables';

.form {
  padding: 2rem 0;
  background-color: $color-gray-light;
  border-bottom: 0.1rem solid $color-gray;

  &__title {
    padding-bottom: 2rem;
  }

  &__content {
    display: flex;
    column-gap: 3rem;

    @media (max-width: 569px) {
      flex-direction: column;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    flex: 0 1 40rem;

    @media (max-width: 569px) {
      flex: 0 0 auto;
    }
  }

  &__buttons {
    padding-top: 3rem;

    @media (max-width: 569px) {
      padding-top: 1rem;
    }
  }
}

.elements {
  &__title,
  &__description {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }
}
