//$color-primery: #7880ff;
$color-primery: #90c946;
$color-primery-dark: #80b33e;
$color-brown: #262626;
$color-brown-dark: #1a1a1a;
$color-white: #ffffff;
$color-gray: #e1e8ed;
$color-gray-tag: #e6e6e6;
$color-gray-light: #fafafa;
$color-gray-dark: #ababab;
$color-text: #666666;
