//$color-primery: #7880ff;
$color-primery: #7aa93c;
$color-brown: #262626;
$color-brown-dark: #1a1a1a;
$color-white: #ffffff;
$color-gray: #fafafa;
$color-gray-light: #e1e8ed;
$color-gray-dark: #999999;
