@import './variables';
@import './fonts';
@import './icons';
@import './normalize';
@import './buttons.scss';

html {
  @include font-regular();
  font-size: 10px;
}

body {
  font-size: 2rem;
  background-color: $color-white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  color: $color-brown;
}

.link {
  color: $color-primery;
}
